@model MyDiscs.Models.Brand

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BrandId" class="btn btn-primary mt-3"><i class="bi bi-pencil pe-2"></i>Edit</a>  
    <br>
    <a asp-action="Index" class="btn btn-success mt-3" ><i class="bi bi-arrow-left-circle me-2"></i>Back to List</a>
</div>
